##
urxvt.cursorUnderline:      false
urxvt.url-select.underline: false
urxvt.borderless:           1
urxvt.scrollBar:            false
urxvt.scrollBar_right:      false
urxvt.depth:                32
urxvt.urgentOnBell:         False
#urxvt.background:          [100]#000000
#urxvt.foreground:          [100]#FFFFFF
urxvt.tintColor:            grey
urxvt.shading:              30
URxvt.font:					xft:SourceCodePro:Regular:size=11:antialias=true:autohint=true,\
							xft:DejaVuSansMono:size=11:antialias=true:autohint=true,\
							xft:NanumGothic:size=11:antialias=true:autohint=true

URxvt.boldFont:				xft:SourceCodePro:Bold:size=11:antialias=true:autohint=true,\
							xft:DejaVuSansMono:size=11:antialias=true:autohint=true,\
							xft:NanumGothic:size=11:antialias=true:autohint=true
!URxvt.font:					xft:Hermit:size=10
!URxvt.boldFont:				xft:Hermit:size=10

URxvt.termName:				rxvt-unicode-256color

URxvt*background:  [85]#000000
URxvt*foreground:  [100]#FFFFFF
*cursorColor:      #22A7F0

! black
*color0:  #222946
! dark grey
*color8:  #8C8B89

! red
*color1:  #B32323
! bright red
*color9:  #DC2C2C

! green
*color2:  #1AAA13
! bright green
*color10: #5DCE33

! yellow
*color3:  #FF9F3E
! bright yellow
*color11: #E6CB29

! blue
*color4:  #4957F3
! bright blue
*color12: #4D79FF

! magenta
*color5:	#BF3E94
! bright magenta
*color13:	#B641CC

! cyan
*color6:  #09A5B3
! bright cyan
*color14: #3CB6F3

! light grey
*color7:  #AEAEAE
! white
*color15: #DBDDE4


! Black
#urxvt*color0:                 #000000000000
#urxvt*color8:                 #555555555555
! Red
#urxvt*color1:                 #dcdc32322f2f
#urxvt*color9:                 #ffff55555555
! Green
#urxvt*color2:                 #0000aaaa0000
#urxvt*color10:                #5555ffff5555
! Yellow
#urxvt*color3:                 #aaaa55550000
#urxvt*color11:                #ffffffff5555
! Blue
#urxvt*color4:                 #00003337b82b
#urxvt*color12:                #55555555ffff
! Magenta
#urxvt*color5:                 #b8cb375edb08
#urxvt*color13:                #fe44685eea97
! Cyan
#urxvt*color6:                 #2a2aa1a19898
#urxvt*color14:                #0000ffffffff
! White
#urxvt*color7:                 #94f494f494f4
#urxvt*color15:                #ffffffffffff
! Cursor
#urxvt*cursorColor:            #CF000F

URxvt.perl-ext-common:   default,matcher,vtwheel
URxvt.url-launcher:      /usr/bin/chromium
URxvt.matcher.button:    1
